:host {
    margin-top: 1rem;

    ::ng-deep {
        p-card {
            .p-card-content {
                display: flex;
                justify-content: space-around;

            }
        }
    }

}