<form [formGroup]="bookingForm" (ngSubmit)="submit(bookingForm.value)">
    <p-card header="{{dataItem.movie.name}}">

        <p-dropdown placeholder="Order Movie" formControlName="booking" [options]="dataItem.bookings"
            optionLabel="showTime"></p-dropdown>

        <p-inputNumber formControlName="tickets" [showButtons]="true" buttonLayout="horizontal" inputId="horizontal"
            spinnerMode="horizontal" [step]="1" decrementButtonClass="p-button-danger"
            incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus"
            decrementButtonIcon="pi pi-minus"></p-inputNumber>

        <p-button type="submit" [disabled]="(bookingForm.valid) ? false : true" label="Order"></p-button>

        <section>
            BOOKED {{bookingForm.get('booking')?.value?.booked}}
        </section>

        <section>
            CAPACITY {{bookingForm.get('booking')?.value?.capacity}}
        </section>

    </p-card>
</form>